---
import Footer from "@/components/layout/footer.astro";
import Header from "@/components/layout/header.astro";
import HtmlLayout from "@/layouts/html-layout.astro";
---

<HtmlLayout
  title="Archive"
  description="test"
>
  <Header />

  <main class="mx-auto max-w-content space-y-12 px-4 pb-16 pt-32 sm:pt-24 lg:space-y-20 lg:pt-28">
    <h2 class="text-center text-4xl font-medium leading-none sm:text-left">Updates Archive</h2>
  </main>

  <Footer />
</HtmlLayout>
