---
import Header from "@/components/layout/header.astro";
import HtmlLayout from "@/layouts/html-layout.astro";
---

<HtmlLayout
  title="Archive"
  description="A list of past updates and announcements from us."
>
  <main class="mx-auto max-w-content px-4 pb-16 pt-32 sm:pt-24 lg:pt-28">
    <Header />

    <h2 class="text-4xl">Archive</h2>
  </main>
</HtmlLayout>
