---
import PrimitiveLayout from "@/layouts/primitive-layout.astro";
---

<PrimitiveLayout
  title="UPGRADE"
  description="We are University of Pennsylvania's game development club. We make games, but also connect students to the game industry through game jams, speaker events, workshops, and more! All Penn students are free to join."
>
  <main class="max-w-content mx-auto min-h-screen space-y-10 px-4 py-28">
    <p class="mr-80 text-6xl font-medium">UPGRADE is UPenn's one and only game development club</p>
    <div class="flex items-center justify-between rounded-3xl bg-up-5 p-7">
      <p>discord link</p>
      <p>Join our Discord to get the latest updates and events!</p>
    </div>
  </main>
</PrimitiveLayout>
