---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 class="text-lg">Our website is uh. Not Finished. So join our Discord instead:</h1>
		<a href="https://discord.gg/vrhDM7NHph" target="_blank" class="text-lg underline text-blue-500">link</a>
	</body>
</html>
