---
import CopyButton from "@/components/copy-button.astro";
import EventCard from "@/components/event-card.astro";
import FeaturedGame from "@/components/featured-game.astro";
import Footer from "@/layouts/footer.astro";
import Header from "@/layouts/header.astro";
import Link from "@/components/link.astro";
import HtmlLayout from "@/layouts/html-layout.astro";

import { getEntry } from "astro:content";

const featured = await getEntry({ collection: "games", slug: "bionic-traveler" });
---

<HtmlLayout description="We are University of Pennsylvania's game dev club. Join us!">
  <Header />

  <main class="pt-32 sm:pt-28">
    <section class="mx-auto mb-16 max-w-content space-y-8 px-4">
      <h2 class="text-[clamp(2rem,4.5vw,48px)] font-medium leading-none">
        Hey there! We're UPGRADE, <br /> UPenn's game development club.
      </h2>

      <p class="text-24 leading-none">Since 2016, we've been making games. Join us!</p>
    </section>

    <section
      class="mx-auto mb-24 grid max-w-content grid-cols-1 gap-4 px-4 sm:grid-cols-2 content:gap-6"
    >
      <FeaturedGame game={featured} />
      <EventCard />
    </section>

    <section class="relative mb-24 bg-up-11 py-10">
      <div aria-hidden class="spiky absolute inset-x-0 -top-[26px] h-[26px] w-full"></div>

      <div class="mx-auto max-w-content px-4">
        <div class="mb-12 space-y-4">
          <h2 class="text-30 font-medium leading-none">So what exactly do we do?</h2>
          <p class="sm:max-w-[425px]">
            Beyond making games, we also provide UPenn students the resources, opportunities, and
            environment to foster their passion and creativity.
          </p>
        </div>

        <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 content:gap-6">
          <div class="space-y-2 rounded-2xl bg-up-10 p-4">
            <h3 class="font-bold">Game jams.</h3>
            <p>
              We organize and host game jam(s) every year. Food and vibes are always included for
              free, and anyone can join. The winning team gets free tickets to that year's <Link
                href="https://east.paxsite.com/"
                target="_blank"
                className="text-up-3 hover:text-up-4">PAX East</Link
              >.
            </p>
          </div>

          <div class="space-y-2 rounded-2xl bg-up-10 p-4">
            <h3 class="font-bold">Workshops + tutorials.</h3>
            <p>
              Whether you're new to making games or if you're simply looking to refine your skills,
              we often host hands-on learning activities. This ranges from learning Git to debugging
              the Unity editor.
            </p>
          </div>

          <div class="space-y-2 rounded-2xl bg-up-10 p-4">
            <h3 class="font-bold">Speaker events + collabs.</h3>
            <p>
              We sometimes invite back Penn alumni and key industry figures to come and talk about
              their experiences and career journey. We also do crossovers with other Penn clubs!
            </p>
          </div>
        </div>
      </div>

      <div aria-hidden class="spiky absolute inset-x-0 -bottom-[26px] h-[26px] w-full -scale-y-100">
      </div>
    </section>

    <section class="mx-auto mb-24 max-w-content space-y-10 px-4">
      <div class="mb-12 space-y-4">
        <h2 class="text-30 font-medium leading-none">
          No experience needed, <br /> no applications necessary.
        </h2>
        <p class="sm:max-w-[425px]">
          We welcome anyone who is interested in <em>any</em> aspect of game development. That means
          you artists, designers, programmers, writers, musicians, etc.
        </p>
      </div>

      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2">
        <div>
          <h2 class="mb-2.5 text-24 font-medium">Join us IRL!</h2>
          <p class="mb-4 font-medium">We meet every Saturday from 2-5 PM in Levine 307.</p>
          <p>
            New members join at the start of the semester. Follow us <Link
              href="https://instagram.com/pennupgrade"
              target="_blank"
              className="text-up-3 hover:text-up-4">our Instagram</Link
            > and check <Link href="/events" className="text-up-3 hover:text-up-4"
              >our events page</Link
            > so you don't miss updates!
          </p>
        </div>

        <div>
          <h2 class="mb-2.5 text-24 font-medium">Join our Discord!</h2>
          <p class="mb-5">
            Feel free to join our server any time for the latest events and announcements. It's a
            pretty chill place, in our opinion.
          </p>

          <div class="flex items-center justify-between gap-2 rounded-xl bg-up-8 p-2">
            <div class="flex-shrink overflow-x-auto rounded-md bg-up-9 px-3.5 py-2">
              <Link
                href="https://discord.gg/vrhDM7NHph"
                target="_blank"
                className="font-mono text-up-3 hover:text-up-4"
              >
                discord.gg/vrhDM7NHph
              </Link>
            </div>

            <CopyButton
              text="https://discord.gg/vrhDM7NHph"
              className="flex-shrink-0 bg-up-7 hover:bg-up-6 hover:text-up-2"
            />
          </div>
        </div>
      </div>
    </section>
  </main>

  <Footer />
</HtmlLayout>
