---
import PrimitiveLayout from "@/layouts/primitive-layout.astro";

import Logo from "@/assets/logo.png";
import { Image } from "astro:assets";
---

<PrimitiveLayout
  title="UPGRADE"
  description="We are University of Pennsylvania's game development club. We make games, but also connect students to the game industry through game jams, speaker events, workshops, and more! All Penn students are free to join."
>
  <main class="flex min-h-screen flex-col items-center justify-center p-10">
    <Image
      src={Logo}
      alt="UPGRADE logo"
      class="w-[650px]"
    />
    <p class="mt-10 text-up-1">
      Our website is uh. A work in progress. So
      <a
        href="https://discord.gg/vrhDM7NHph"
        target="_blank"
        class="text-up-3 underline transition-colors hover:text-up-2"
      >
        join our Discord
      </a> instead!
    </p>
  </main>
</PrimitiveLayout>
