---
import { getCollection } from "astro:content";

const events = await getCollection("events");
events.sort((a, b) => b.data.dateTime.getTime() - a.data.dateTime.getTime());

const recent = events[0];
const { name, dateTime } = recent.data;
---

<a href="/events" class="group">
  <div
    class="flex h-full w-full flex-col justify-between rounded-2xl bg-up-10 p-5 group-hover:bg-up-9"
  >
    <div>
      <p class="font-mono font-bold text-up-2">
        {dateTime.getTime() - new Date().getTime() > 0 ? "Upcoming" : "Last"} event
      </p>

      <h2 class="mb-1.5 text-30 font-medium">{name}</h2>

      <p class="mb-4 line-clamp-3">
        {recent.body}
      </p>
    </div>

    <time datetime={dateTime.toISOString()} class="font-mono text-up-3"
      >on {
        dateTime.toLocaleDateString("en-US", {
          month: "long",
          day: "numeric",
          year: "numeric",
          timeZone: "EST",
        })
      }</time
    >
  </div>
</a>
