---
import { type CollectionEntry, render } from "astro:content";
import ChevronRight from "lucide-astro/ChevronRight";

import ParsedGameTags from "@/components/parsed-game-tags.astro";

interface Props {
  game: CollectionEntry<"games">;
}

const { game } = Astro.props;
const {
  data: { name },
  id,
} = game;

const { Content } = await render(game);
---

<div class="flex flex-col justify-between space-y-3 rounded-2xl bg-up-10 p-5">
  <a href={`/games/${id}`} class="group">
    <p class="flex items-center gap-0.5 font-mono font-bold text-up-2 group-hover:text-up-4">
      Featured game <ChevronRight size={20} />
    </p>
    <h2 class="break-all text-30 font-medium leading-none group-hover:text-up-2">{name}</h2>
  </a>

  <div class="relative h-[5.8rem] overflow-hidden">
    <article class="space-y-4"><Content /></article>
    <div
      aria-hidden="true"
      class="pointer-events-none absolute inset-x-0 bottom-0 h-16 bg-gradient-to-t from-up-10"
    >
    </div>
  </div>

  <ul class="flex flex-wrap gap-2.5">
    <ParsedGameTags gameToParse={game} />
  </ul>
</div>
