---
import ParsedGameTags from "@/components/parsed-game-tags.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  game: CollectionEntry<"games">;
}

const { game } = Astro.props;
const {
  data: { name },
} = game;
---

<a href="/games/bionic-traveler" class="group">
  <div class="h-full w-full rounded-2xl bg-up-10 p-5 group-hover:bg-up-9">
    <p class="font-mono font-bold text-up-2">Featured game</p>

    <h2 class="mb-1.5 text-30 font-medium">{name}</h2>

    <p class="mb-4 line-clamp-3">
      {game.body}
    </p>

    <ul class="flex flex-wrap gap-2.5">
      <ParsedGameTags gameToParse={game} />
    </ul>
  </div>
</a>
