---
import logoMdLight from "@/assets/logo/md/logo-md-light.png";
import { Image } from "astro:assets";
---

<header class="fixed inset-x-0 top-0 bg-up-6">
  <nav class="w-content mx-auto flex items-center justify-between p-4">
    <a href="/">
      <Image
        src={logoMdLight}
        alt="UPGRADE logo"
        width={200}
      />
    </a>

    <div class="flex items-center gap-6">
      <a
        href="/#about"
        class="decoration-wavy decoration-1 hover:text-up-2 hover:underline"
      >
        about</a
      >
      <a
        href="/#games"
        class="decoration-wavy decoration-1 hover:text-up-2 hover:underline"
        >games</a
      >
      <a
        href="/#board"
        class="decoration-wavy decoration-1 hover:text-up-2 hover:underline"
        >board</a
      >
      <a
        href="/#contact"
        class="decoration-wavy decoration-1 hover:text-up-2 hover:underline"
        >contact</a
      >
    </div>
  </nav>
</header>
