---
import GameTag from "@/components/game-tag.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  gameToParse: CollectionEntry<"games">;
}

const { gameToParse } = Astro.props;
const { game, published } = gameToParse.data;
---

{
  game.type === "club" ? (
    <li>
      <GameTag type="club" />
    </li>
  ) : (
    <li>
      <GameTag type="student" />
    </li>
  )
}

{
  game.jam ? (
    <li>
      <GameTag type="gamejam" />
    </li>
  ) : null
}

{
  published.steam ? (
    <li>
      <GameTag type="steam" />
    </li>
  ) : null
}

{
  published.itch ? (
    <li>
      <GameTag type="itch.io" />
    </li>
  ) : null
}
