---
import CopyButton from "@/components/copy-button.astro";
import Link from "@/components/link.astro";

const socials = [
  {
    name: "Instagram",
    href: "https://www.instagram.com/pennupgrade/",
  },
  {
    name: "GitHub",
    href: "https://github.com/pennupgrade",
  },
  {
    name: "itch.io",
    href: "https://pennupgrade.itch.io/",
  },
  {
    name: "Steam",
    href: "https://store.steampowered.com/search/?developer=University%20of%20Pennsylvania%20Game%20Research%20and%20Development%20Environment",
  },
];
---

<footer class="relative w-full bg-up-11 pb-20 pt-12">
  <div aria-hidden class="spiky-up-11 absolute inset-x-0 -top-[26px] h-[26px] w-full"></div>

  <div class="mx-auto grid max-w-content grid-cols-1 gap-12 px-4 sm:grid-cols-2">
    <div>
      <h2 class="mb-7 text-24 font-medium leading-none">Questions, inquiries? Email us:</h2>

      <div class="flex items-center justify-between gap-2 rounded-xl bg-up-10 p-2">
        <div class="flex-shrink overflow-x-auto rounded-md bg-up-12 px-3.5 py-2">
          <Link
            href="mailto:pennupgrade@gmail.com"
            target="_blank"
            className="font-mono text-up-3 hover:text-up-4"
          >
            pennupgrade@gmail.com
          </Link>
        </div>

        <CopyButton
          text="pennupgrade@gmail.com"
          className="flex-shrink-0 bg-up-9 hover:bg-up-8 hover:text-up-2"
        />
      </div>
    </div>

    <div>
      <h2 class="mb-7 text-24 font-medium leading-none">Elsewhere on the interwebs</h2>
      <ul class="mb-20 grid grid-cols-2 gap-x-4 gap-y-6 sm:mb-40 sm:gap-y-4">
        {
          socials.map(({ name, href }) => (
            <li>
              <Link href={href} className="text-up-3 hover:text-up-4 marker:content-['➔']">
                <span aria-hidden>✦</span> {name}
              </Link>
            </li>
          ))
        }
      </ul>

      <p class="font-mono text-up-8">
        <span class="cursor-not-allowed whitespace-nowrap" title="uwu">(✿◡‿◡)</span>
        <br /> Made in Philly. <Link
          href="https://github.com/pennupgrade/www"
          target="_blank"
          className="whitespace-nowrap hover:text-up-6">Source on our GitHub~</Link
        >
      </p>
    </div>
  </div>
</footer>
