---
import { Image } from "astro:assets";
import logoLight from "@/assets/logo-light.png";
import Link from "@/components/link.astro";

const FULL_TITLE = "University of Pennsylvania Game Research and Development Environment";
---

<header class="fixed inset-x-0 top-0 z-[9999] bg-up-12">
  <nav class="mx-auto flex max-w-content flex-col justify-between gap-4 p-4 sm:flex-row">
    <a href="/" title={FULL_TITLE} aria-label={FULL_TITLE} class="hover:opacity-85">
      <span class="sr-only">UPGRADE logo</span>
      <Image
        src={logoLight}
        alt="UPGRADE logo. It consists of the word UPGRADE located to the right of the club icon."
        width={190}
      />
    </a>

    <div class="flex items-center gap-8">
      <Link href="/about" className="text-up-2 hover:text-up-3">About</Link>
      <Link href="/games" className="text-up-2 hover:text-up-3">Games</Link>
      <Link href="/events" className="text-up-2 hover:text-up-3">Events</Link>

      <a
        href="https://discord.gg/vrhDM7NHph"
        target="_blank"
        class="rounded-full text-up-2 hover:text-up-4 sm:bg-up-9 sm:px-3.5 sm:py-1 sm:hover:bg-up-8"
        >Discord</a
      >
    </div>
  </nav>
</header>
