---
import Footer from "@/layouts/footer.astro";
import Header from "@/layouts/header.astro";
import HtmlLayout from "@/layouts/html-layout.astro";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const games = await getCollection("games");
  return games.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<HtmlLayout description="Games published by the club and by members of our community.">
  <Header />

  <main class="mb-24 pt-32 sm:pt-28">
    <section class="flex h-80 gap-4">
      {entry.data.images.map(({ file, alt }) => <Image src={file} alt={alt} class="w-auto" />)}
    </section>

    <section class="mx-auto max-w-content px-4"><Content /></section>
  </main>

  <Footer />
</HtmlLayout>
